body{
    background-size: cover;
}
main div.col{
    box-shadow: 0px 0px 6px 0 black;
    cursor: pointer;
}
main div.col img{
    display: block;
    margin: auto;
    margin-top: 5px;
}
main{
    box-shadow: 0px 0px 6px 0 black;
    background: white;
    background: url("../img/bg.jpg");
    background-size: cover;
}
header span{
    text-transform: uppercase;
}
div.position-fixed{
    top: 0;
    width: 100%;
    display: none;

}
div.position-fixed p{
    margin:auto;
    width: 444px;
    text-align: center;
    padding: 16px;
    background: rgba(0,0,0,.7);
    color: white;
    font-weight: 900;
    border-radius: 10px;
    max-width: 88vw;
}
span.position-fixed{
    color: #0e410e;
    font-weight: bolder;
    width: 25px;
    height: 25px;
    top: 10px;
    font-size: 50px;
    display: none;
}
@media (max-width: 700px) {
    audio.position-fixed{
        width: 100px!important;
    }
}
@media (max-width: 576px) {
    span.position-fixed{
        display: none!important;
    }
    audio.position-fixed{
        width: 40px!important;
    }
    main div.col img{
        width: 80px;
    }
}

